@model MyFirstApp.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post)){
<fieldset>
        <legend>Log in Form</legend>
        <ol>
            @Html.ValidationSummary(true)
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password )
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.RememberMe,new { @class = "checkbox" })
                @Html.CheckBoxFor(m => m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Log in" />

</fieldset>
}